.tvPage .indexdiv{
    color:white;
    height:100%;
    position: relative;
    width:100%;
    overflow-x: hidden;
    
    
    
}



.tvPage .indexdiv .movies-container{
    display: flex;
    overflow-x:auto;
    width:max-content;
    flex-shrink: 0;
    
    
}

.tvPage .indexdiv .movies-container ::-webkit-scrollbar{
    width:0;
}



.tvPage .indexdiv .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: relative;
}

.tvPage .indexdiv .shading-div{
    position: relative;
    display: inline-block;
    width: 200vh;
    height: 100vh;
    overflow-y: hidden;
    z-index: 2;
    
}



.tvPage .indexdiv .shading-div:nth-child(1){
    display:block;
    
}

.tvPage .indexdiv .shading-div::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.9) 100%);
    z-index: 3;
}

.tvPage .indexdiv .shading-div::after{
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.6) 100%); 
}


.tvPage .indexdiv .movie-info{
    z-index: 100 ;
    position:inherit;
    background-color: transparent;
    
    margin-top: -25%;
    margin-bottom:10% ;
    padding-left: -20%; /*later gets changed by js*/
    opacity: 0; /*later gets changed by js*/
    transition: padding-left  1s ease-in-out, opacity 2s ease-in-out;
    width:50%;
    
}

.tvPage .indexdiv .movie-title{
    font-size: 60px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.tvPage .indexdiv .mtd{
    border-bottom: 2px solid;
}

.tvPage .indexdiv .num-data{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}
.tvPage .indexdiv .num-data1{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-around;

}

.tvPage .indexdiv .num-data2{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-around;

}

.tvPage .indexdiv .num-data h6{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    position: relative;
    top:50;
    
    
}
.tvPage .indexdiv .icon{
    position: relative;
    top:50;
    width: 30px;
    height: 30px;
}

.tvPage .indexdiv .nextbtn{
    
    background-color: transparent;
    color :white;
    width: 100px;
    height: 30px;
    box-shadow: none;
    border: none;
    border-radius: 4px;
    padding-right: 15px;
    outline: none;
    transition: background-color 0.4s ease;
}

.tvPage .indexdiv .nextbtn:hover{
    background-color: rgb(63, 62, 62);
}

.tvPage .indexdiv .nextbtn2{
    
    background-color: transparent;
    color :white;
    width: 100px;
    height: 30px;
    box-shadow: none;
    border: none;
    border-radius: 4px;
    padding-right: 15px;
    outline: none;
    transition: background-color 0.4s ease;
}

.tvPage .indexdiv .nextbtn2:hover{
    background-color: rgb(63, 62, 62);
}

.tvPage .indexdiv2 #experi{
    color: white;
}

/*---------------------------------------------------index div 2*/

.tvPage .indexdiv2 {
    display: flex;
    flex-direction: row;
    
}

.tvPage .indexdiv2 .left-sect {
    width: 70%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(32, 31, 31);
}

.tvPage .indexdiv2 .flowParent{
    display: flex;
    flex-direction: row;
    position: relative;
}

.tvPage .indexdiv2 .flow-into{
    width: 100%;
    flex-direction: row;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;  
}





.tvPage .indexdiv2 .right-sect {
    width: 30%;
    display: flex;
    
}


.tvPage .indexdiv2 .container{
    margin: 30px;
    margin-bottom: 10px;
    display: inline-block;
    justify-content: center;
    width: fit-content;
}

.tvPage .indexdiv2 .smallposter{
    width: 200px;
    height: 265px;
    border-radius: 4px;
    display: block;
}

.tvPage .indexdiv2 .containerC{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    scrollbar-color: transparent transparent;
    
    
    
}

.tvPage .indexdiv2 .containerC:hover{
    transform: scale(1.1);
}

.tvPage .text{
    color: white;
    margin-top: 3px;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}



.tvPage .indexdiv2 .subcategory{
    margin-left: 50px;
    margin-top: 50px;
    color: white;
    font-size: 25px;
}




.tvPage .indexdiv2 .text2{
    color: white;
    font-size: 25px;
    position: relative;
    bottom: 0;
    
}


.tvPage .indexdiv2 .nextbtn3{
    
    background-color: transparent;
    color :white;
    height: 100px;
    width: 30px;
    box-shadow: none;
    border: none;
    border-radius: 4px;
    padding-right: 15px;
    outline: none;
    transition: background-color 0.4s ease;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.tvPage .indexdiv2 .nextbtn3:hover{
    background-color: rgb(63, 62, 62);
}

.tvPage .indexdiv2 .previousbtn3{
    
    background-color: transparent;
    color :white;
    height: 100px;
    width: 30px;
    box-shadow: none;
    border: none;
    border-radius: 4px;
    padding-right: 15px;
    outline: none;
    transition: background-color 0.4s ease;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.tvPage .indexdiv2 .previousbtn3:hover{
    background-color: rgb(63, 62, 62);
}

/*right-sect---------------------------------------------------------------------------------------*/

.tvPage .right-sect *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.tvPage .right-sect {
    display: flex;
    flex-direction: column;
    
}

.tvPage .indexdiv2 #top10{
    pointer-events: none;
    text-decoration: none;
    margin-left: 25px;
}



.tvPage .indexdiv2 .flow-into2{
    margin-top: 30px;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-left: 25px;
    

}

.tvPage .indexdiv2 .container2{
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    /*overflow-x: hidden;
    overflow-y: visible;*/
    position: relative;
    margin-top: 10px;
    margin-bottom: 25px;
    scale: 1;
    transition: transform 0.3s ease; /* Apply transition to .container2 */
    z-index: 10;
}

.tvPage .indexdiv2 .container2:hover {
    transform: scale(1.5); /* Scale the entire container on hover */
    z-index: 100;
}



.tvPage .indexdiv2 .number-icon{
    margin-right: -20px;
    height: 50px;
    width: 50px;
    z-index: 5;
    position: relative;
}

.tvPage .indexdiv2 .img-1{
    height: 149px;
    position: relative;
    z-index: 2;
    scale: 1;
    transition: scale 0.3s ease;
}

.tvPage .indexdiv2 .img-1:hover{
    scale: 2.5;
    z-index: 100;
}


.tvPage .indexdiv2 .info2{
    display: flex;
    flex-direction:column;
    width: 100%;
    background: linear-gradient(to left, rgba(26, 25, 25, 0), rgba(26, 25, 25, 1));
    
}



.tvPage .indexdiv2 .year-rating{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    width: 100%;
    height: 30%;
    border-bottom: 2px solid lightgray;
}

.tvPage .indexdiv2 .yrtext{
    font-size: 15px;
    color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tvPage .indexdiv2 .movietitle2{
    overflow-x: hidden;
    width: 100%;
    height: 50%;
    justify-items: center;
    margin-left: 10px;
    padding-top: 20px;
    text-align: center;
    
}

.tvPage .indexdiv2 .movietitlespan{
    color: white;
    font-size: 16px;
    
    text-align: center;
}



.tvPage #bottomdiv {
    margin-bottom: 20px;
}







































/*
.right-sect .accordion{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    gap: 16px;
    transition: 0.3s;
}

.right-sect .accordion:hover{
    gap:0;
}

.right-sect .accordion h2{
    font-weight: 400;
    font-size: 24px;
    line-height: 45px;
    border-bottom: 2px solid #fff;
    white-space: nowrap;
}

.right-sect .accordion li{
    position: relative;
    overflow: hidden;
    flex: 0 0 80px;
    border-radius: 50px;
    opacity: 0.75;
    cursor: pointer;

}

.right-sect .accordion li img{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100;
    height: 100%;
    object-fit: cover;
}

.right-sect .accordion li, 
.right-sect .accordion li img,
.right-sect .accordion li .content,
.right-sect .accordion li .content span {
    transition: 0.3s;
}

.right-sect .accordion li .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: #fff;
    padding: 15px;
    background: #02022e;
    background: 
        linear-gradient(
            0deg,
            rgb(
                0 0 0 / 70%
            ) 10%,
            rgb(
                255 255 255 / 0% 
            ) 100%
        );
    opacity: 0;
    visibility: hidden;
}


.right-sect .accordion li .content span{
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 50px;
    translate: -300px 0;
    visibility: hidden;
    opacity: 0;
}

.right-sect .accordion li:hover{
    flex: 0 1 260px;
    scale: 1.1;
    z-index: 10;
    opacity: 1;
}

.right-sect li:hover .content{
    opacity: 1;
    visibility: visible;
}

.right-sect .accordion li:hover span{
    translate: -50% 0;
    opacity: 1;
    visibility: visible;
}